<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/form.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/input.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script>
      window.ch=function(){(ch.q=ch.q||[]).push(arguments)};
      ch('config', {
        token: "CONTACTHUB_TOKEN",
        workspaceId: "CONTACTHUB_WORKSPACE_ID",
        nodeId: "CONTACTHUB_NODE_ID"
      });
    </script>
    <script src='https://assets.contactlab.it/contacthub/sdk-browser/latest/contacthub.min.js'></script>
  </head>
  <body>
    <form class="ui form">
      <div class="field">
        <label>First Name</label>
        <input type="text" id="firstName" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name">
      </div>
      <div class="field">
        <label>Gender</label>
        <input type="text" id="gender" placeholder="Gender">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" id="email" placeholder="Email">
      </div>
      <div class="field">
        <label>Date of Birth</label>
        <input type="text" id="dateOfBirth" placeholder="Date of Birth">
      </div>
      <button type="button" class="ui button" onclick="socialAutofill.loginWithFacebook()">Login with Facebook</button>
      <button type="button" class="ui button" onclick="socialAutofill.loginWithGoogle()">Login with Google</button>
      <button type="button" class="ui button" onclick="socialAutofill.loginWithLinkedIn()">Login with LinkedIn</button>
    </form>

    <!-- start: Add SocialAutofill -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script
        type='text/javascript'
        src="<%= htmlWebpackPlugin.options.buildPath %><%= htmlWebpackPlugin.files.chunks[chunk].entry %><%= htmlWebpackPlugin.options.gzip %>"
      ></script>
    <% } %>
    <!-- end: Add SocialAutofill -->

    <!-- start: Initialize SocialAutofill -->
    <script>
      var socialAutofill = new window.SocialAutofill({
        clientIds: {
          facebook: '1882104035447885',
          google: '795655891034-5tou4pabjpdjdcmunv1970ujkuqggj7m.apps.googleusercontent.com',
          linkedin: '778rorytckysk3'
        },
        contacthub: window.ch,
        autofillOptions: {
          fields: {
            firstName: '#firstName',
            lastName: '#lastName',
            dateOfBirth: '#dateOfBirth',
            gender: '#gender',
            email: '#email'
          }
        }
      });
    </script>
    <!-- end: Initialize SocialAutofill -->
  </body>
</html>
